// header
.fixed_menu_body
    padding-top 150px

.doc_header
    width 960px
    height 150px
    font-family main_font
    overflow hidden
    margin 0 auto
    &.fixed_menu
        position fixed
        left 50%
        top 30px
        margin-left -480px
        z-index 1000
        height 70px
        .doc_header__logo
            top 0px
        .doc_header__about_multi
        .doc_header__catalogue
            margin-top 20px
            color green_font
            border-bottom 1px dotted green_font

.doc_header__logo
    background logo_bg
    display block
    width 303px
    height 66px
    margin 0 0 0 -151px
    position absolute
    left 50%
    top 40px

.doc_header__about_multi
.doc_header__catalogue
    margin-top 52px
    border-bottom 1px dotted #fff
    color #fff
    text-transform uppercase
    text-decoration none
    font-size 10.7pt
    font-weight 600
.doc_header__about_multi
    float left
    margin-left 10px
.doc_header__catalogue
    float right
    margin-right 10px
// header

// slogan
.slogan
    height 216px
    text-align center

.slogan__slogan
    font-family main_font
    font-weight 300
    margin 19px 0 20px 0
    font-size: 36pt;
    line-height: 1.1;
    letter-spacing: -1px;

.slogan__description
    font-family second_font
    font-style italic
    letter-spacing .1em
// slogan

// model_view
.benefits
    position relative
    width 960px
    height 630px
    margin 0 auto

.plus_timer
.programms 
.fastwar
    position absolute

.plus_timer
    width 270px
    height 80px
    top 190px
    left 154px
    background url(../images/plus.png) no-repeat left top

.plus_timer__popup
    display none
    position absolute
    width 352px
    // height 356px
    padding 14px
    top 190px
    left 158px
    background #fff
    border_radius(10px)
    .decor
        height 70px
        border-bottom 1px solid #e1e1e1

.plus__description
    width 254px
    height 60px
    position relative
    top 15px
    left 15px
    background url(../images/plus_back.png) no-repeat
    span
        display block
        // line-height 1
        height 20px
        color green_font
        margin 0
        font-size 10pt
        text-transform uppercase
        padding 0 0 0 4px
        &:nth-child(2)
            font-weight 600
            a
                display inline
                padding 0
                border-bottom 1px dotted green_font
                color green_font
                text-decoration none
        &:nth-child(3)
            font-size 8pt
            text-transform none

.fastwar
    width 225px
    height 43px
    top 315px
    left 668px
    padding 11px 0 0 22px
    background url(../images/fastwar.png) no-repeat
    span
        display block
        // line-height 1
        height 20px
        color green_font
        margin 0
        &.fs
            font-size 9pt
        a
            display inline
            padding 0
            border-bottom 1px dotted green_font
            color green_font
            text-decoration none
            font-size 10pt
            font-weight 600
            text-transform uppercase

.fastwar__popup
    display none
    position absolute
    width 352px
    // height 356px
    padding 14px
    top 314px
    left 675px
    background #fff
    border_radius(10px)
    .decor
        height 70px
        border-bottom 1px solid #e1e1e1

.programms 
    width 406px
    height 60px
    top 44px
    right -85px

.programms__popup
    display none
    position absolute
    width 352px
    // height 356px
    padding 14px
    top 26px
    left 625px
    background #fff
    border_radius(10px)
    .decor
        height 125px
        border-bottom 1px solid #e1e1e1

.programs_include__popup
    display none
    position absolute
    width 352px
    padding 14px
    top 10px
    left -5px
    background #fff
    text-align left
    border_radius(10px)
    .decor
        height 125px
        border-bottom 1px solid #e1e1e1

.programms__product_type
    display block
    margin-bottom 22px
    color #111111
    font-size 9pt
    span
        text-transform uppercase
        font-size 8pt
        font-weight 600

.programms__count
    width 121px
    height 67px
    padding-top 25px
    padding-left 12px
    // inline_block_top()
    float left
    background url(../images/programms__count_0.png) no-repeat
    letter-spacing -2px
    &.gray
        background url(../images/programms__count.png) no-repeat
    a
        display block
        width 80px
        padding-bottom 2px
        text-decoration none
        color #45a142
        font-family main_font
        font-size 35pt
        font-weight 800
        line-height 1
        border-bottom 2px dashed #45a142
    span
        display block
        width auto
        padding-bottom 2px
        text-decoration none
        color #45a142
        font-family main_font
        font-size 35pt
        font-weight 800
        line-height 1

.programms__list
    width 50%
    float left
    padding 0
    margin 0
    li
        list-style none
        font-size 9pt
        line-height 1
        margin-bottom 8px
        &:before
            content '– '
        &:nth-child(1)
            font-size 8pt
            font-weight 600
            text-transform uppercase
            &:before
                display none

.programms__description
    width 260px
    // inline_block_top()
    height 48px
    float left
    margin-left -10px
    line-height 1
    padding-top 24px
    padding-left 5px
    font-size 9pt
    background url(../images/112.png) no-repeat 0px 22px
    span
        color green_font
        display block
        margin-bottom 4px
        &:nth-child(1)
            font-weight 800
            text-transform uppercase
        &:nth-child(2)
            font-weight 300
            text-transform uppercase
            font-size 10pt
            margin-bottom 4px
        &:nth-child(3)
            font-weight 400
            font-size 9pt
            white-space nowrap


.model_name
    padding-top 80px
    text-align center
    height 80px
    h1
    h2
        // display none
        font-family main_font
        font-weight 300
        text-transform uppercase
        margin 12px
    h1
        font-size 33pt
        color #525252
    h2
        color #7d7d7d

.choise
    height 166px
    padding-top 126px
    text-align center
    background url(../images/choise.png) no-repeat 50% 45px
    font-family second_font
    font-style italic
    .choise__catalogue
        color green_font
        font-size 17.9pt
    span
        display block
    .choise__or
        color #959595
        display block
        margin 7px 0
        background url(../images/ordec.png) no-repeat center center
    .choise__read_more
        color #414141
        font-size 13.7pt


.about_multi
    background desc_bg
    padding 60px 0 40px 0
    h2
        text-align center
        font-family main_font
        font-weight 300
        font-size 38pt
        margin-bottom 72px
    p
        margin 0 auto
        width 700px

.easy_cook
    background desc_bg
    padding 40px 0 140px 0
    .easy_cook__box
        width 839px
        height 380px
        margin 0 auto
        background url(../images/easy_cook__video.png) no-repeat
        position relative
        h2
            width 409px
            font-family second_font
            font-style italic
            font-weight 300
            font-size 27pt
            line-height 1
            position absolute
            top 47px
            left -50px
        p
            width 290px
            position absolute
            top 182px
            left 70px
            font-size 9pt
            text-transform uppercase
            line-height 1.6
    .easy_cook__video
        width 459px
        height 259px
        background url(../tmp/video_tmp.png) no-repeat
        position absolute
        top 60px
        right -50px
        a
            display block
            width 459px
            height 259px
        
.chef
    width 960px
    height 408px
    margin 0 auto
    padding 20px 0 0 0
    position relative
    .chef__box
        width 480px
        margin-left 366px
        h2
            font-family main_font
            font-weight 300
            font-size 38pt
            color green_font
            margin-bottom 44px
    .chef__hat
        position absolute
        top -214px
        left -187px
        width 475px
        height 591px
        background url(../images/chef_hat.png) no-repeat 50% 50%

.multi
    background desc_bg
    height 409px
    padding 50px 0 0 0
    position relative
    overflow hidden
    .multi__box
        width 960px
        margin 0 auto
        .multi__box_in
            width 480px
            margin-left 130px
            h2
                font-family main_font
                font-weight 300
                font-size 38pt
                color green_font
                margin-bottom 44px
    .multi__desk
        position absolute
        top 84px
        right -105px
        width 487px
        height 287px
        background url(../images/multi_desk.png) no-repeat 50% 50%

.threed
    width 960px
    height 408px
    margin 0 auto
    padding 20px 0 0 0
    position relative
    .threed__box
        width 480px
        margin-left 366px
        h2
            font-family main_font
            font-weight 300
            font-size 38pt
            color green_font
            margin-bottom 44px
    .threed__desk
        position absolute
        bottom -33px
        left -355px
        width 739px
        height 331px
        background url(../images/threed_desk.png) no-repeat 50% 50%
// model_view

// doc_footer
.doc_footer
    background desc_bg
    height 127px
    padding-top 80px
    .doc_footer__box
        width 940px
        padding 0px 10px
        margin 0 auto
        overflow hidden
    .doc_footer__copy
        width 470px
        height 32px
        padding-top 18px
        float left
        text-transform uppercase
        font-size 9pt
    .doc_footer__devs
        width 470px
        height 32px
        padding-top 18px
        float right
        background url(../images/devs.png) no-repeat 100% 0%
        text-align right
        font-size 9pt
        a
            color green_font
            text-decoration none
            text-transform uppercase
            margin-right 68px
// /doc_footer

// catalogue
.catalogue
    position absolute
    top 150px
    width 100%
    z-index 9999
    background #ededed url(../images/cat_bg.png) repeat-x
    padding-bottom 60px
    &.hide
        display none
    &.show
        display block
        position static

.catalogue_list
    height 152px
    overflow-x hidden
    position relative
    ul
        // width 4000px
        height 132px
        margin 0
        padding 0
        list-style none
        li
            float left

.cat_section
    position relative

#list_left
    width 239px
    height 132px
    background url(../images/list_left.png) no-repeat
    position absolute
    top 0px
    left 0px
    z-index 99999
#list_right
    width 239px
    height 132px
    background url(../images/list_right.png) no-repeat
    position absolute
    top 0px
    right 0px
    z-index 99999

.catalogue_list__item
    width 239px
    height 132px
    display block
    position relative
    border-left 1px solid #e1e1e1
    border-right 1px solid #e1e1e1
    border-bottom 1px solid #e1e1e1
    background url(../images/cat_list.png) repeat-x bottom
    cursor pointer
    .cur_decor
        display none
    &.current
        .cur_decor
            display block
            width 239px
            height 12px
            position absolute
            bottom -9px
            background red url(../images/cat_list_current.png) no-repeat 0 0

    .item_name
        position absolute
        width 92px
        height 55px
        top 20px
        left 20px
        color green_font
        text-transform uppercase
        line-height 1
        &:hover
            color #000
        .item_name__name
            font-size 7.9pt
    .item_tech
        position absolute
        width 112px
        height 40px
        top 88px
        left 20px
        line-height 1
        font-size 10pt
        font-style italic
        color #666
        span
            font-weight 600
    .item_image
        position absolute
        bottom 0px
        right 0px

.catalogue_item
    display none
    &.visible
        display block

.model_name__nopadding
    padding-top 41px
    margin-bottom 43px

.item_present
    width 960px
    height 375px
    margin 0 auto
    position relative
    text-align center

.item_present__benefits
    position absolute
    width 220px
    height 375px
    text-align left
    &.left
        top 0px
        left 0px
    &.right
        top 0px
        right 0px

.includes
    ul
        margin 0
        padding 0
        list-style none
        li
            margin-top 37px
            &:nth-child(1)
                margin-top 22px

.includes__item
    height 50px
    padding-left 50px
    font-size 11pt
    font-style italic
    line-height 1.3
    color #323232
    &.icon_book
        background url(../images/icon_book.png) no-repeat left top
    &.icon_sensor
        background url(../images/icon_sensor.png) no-repeat left top
    &.icon_fish
        background url(../images/icon_fish.png) no-repeat left top
    &.icon_start
        background url(../images/icon_start.png) no-repeat left top

.programs_include
    overflow hidden
    height 53px
    margin-top 28px
    &:nth-child(1)
        margin-top 67px

.programs_include.wt
    background url(../images/wt.png) no-repeat

.programms__count_no_bg
    background none
    padding 0

.programms__count.cup
    width 30px

.programms__description_no_mg
    width 98px
    margin: -16px 0 0 -28px;
    background none
    span
        color #3f3f3f

.programms__description.cup
    margin: -12px 0 0 8px;

.programms__description.wt
    margin: -16px 0 0 37px;

.columns
    margin 0 auto
    width 960px
    overflow hidden

.item_present__column
    width 49%
    padding-left 1%
    float left
    color #3f3f3f
    ul
        margin 0
        padding 0
        list-style none
        li
            padding-left 18px
            background url(../images/list-line.png) no-repeat 0% 12px
            font-size 9pt
            .light
                color #C4C4C4

.columns__title
    font-size 12pt
    text-transform uppercase
    font-weight 300
    margin-bottom 16px
    margin-top 0
    background url(../images/title-line.png) repeat-x 0% 50%
    .mask
        background #ededed
        padding-right 10px

.accordion
    margin 0
    padding 0
    dt
        margin 0
        padding 0
        a
            display block
            color #45a142
            text-decoration none
            .mask
                border-bottom 1px dotted #45a142
                padding-right 2px
            .arrow
                background url(../images/accordion_close.png) no-repeat 100% 50%
                display block
            &.current
                .mask
                    border-bottom none
                .arrow
                    background url(../images/accordion_open.png) no-repeat 100% 50%
    dd
        font-size 9pt
        padding 0px 0 22px 0
        margin 0
// catalogue

.video_popup
    display none
    position fixed
    top 50%
    left 50%
    margin -144px 0 0 -350px
    z-index 90000
    width 700px
    height 289px