body {
    background: #fff;
    font: 80%/170% arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #000;
}

h1, h2, h3, h4, h5 {
    color: #38849b;
}

ul {
    list-style: none;
}

a {
    color: #01618f;
}

.wrap {
    width: 1000px;
    margin: 0 auto;
}

.wrapheader {
    background: url(../images/wrap_head.png) top repeat-x;
    border-top: 5px solid #388da8;
    margin-bottom: 5px;
}

.header {
    width: 1000px;
    margin: 0 auto;
    font-style: italic;
}
    .header ul {
        margin-top: -5px;
    }
            .header ul li {
                float: left;
                text-align: center;
            }
                .header ul li a {
                    color: #1d2731;
                    display: block;
                    width: 164px;
                    height: 33px;
                    padding-top: 7px;
                    background: url(../images/headerlink.png) top left no-repeat;
                }
                .header ul li a:hover {
                    color: #fff;
                    background: #388da8 url(../images/headerlink.png) top left repeat-y;
                }
    .logo {
        width: 374px;
        padding-top: 24px;
    }
    .order {
        width: 210px;
        padding-top: 8px;
    }
        .icq {
            padding-left: 24px;
            background: url(../images/icq.png) left top no-repeat;
        }
        .phones {
            display: block;
            padding-top: 6px;
        }
            .phones span {
                font-weight: bold;
                font-size: 1.7em;
            }
                .phones sup {
                    font-weight: bold;
                    font-size: 1.1em;
                }
    .login {
        width: 218px;
        padding-top: 14px;
    }
        .log {
            padding-left: 28px;
            background: url(../images/log.png) 0 4px no-repeat;
        }
        .reg {
            padding-left: 28px;
        }
        .call {
            display: block;
            padding-left: 28px;
            margin-top: 20px;
            background: url(../images/call.png) 2px 5px no-repeat;
        }
    .cart {
        width: 198px;
    }
        .cart span {
            display: block;
            height: 70px;
            background: url(../images/cart.png) left top no-repeat;
            padding-left: 100px;
            margin-top: 10px;
        }
        .cart span a {
            font-size: 1.4em;
        }
        
.side {
    width: 232px;
}
    .side ul.menu {
        background: #f2f2f2;
        padding: 24px;
    }
    
        .side ul.menu li {
            margin-bottom: 5px;
        }
        .catl a {
            color: #000;
            text-decoration: none;
            font-size: 1.25em;
        }
            .side ul.menu li ul {
                margin-bottom: 8px;
            }
                .side ul.menu li ul li {
                    padding-left: 20px;
                    margin-bottom: 0px;
                }
                    .side ul.menu li ul li a {
                        color: #029cff;
                    }
    
    .news {
        border: 1px solid #c4c4c4;
        padding: 10px;
    }
        .news h2 {
            margin-bottom: 5px;
        }
        .news div {
            margin-bottom: 14px;
        }
        .news div:hover {
            background: #f2f2f2;
        }

.content {
    width: 747px;
}
    .path {
        margin-bottom: 20px;
    }
        .path li {
            display: inline;
            padding-right: 10px;
            padding-left: 10px;
            border-right: 1px solid #c2c2c2;
        }
            .path li:first-child {
                padding-left: 0px;
            }
            .path li:last-child {
                border-right: 0px solid #c2c2c2;
            }
    .list {
        text-align: center;
        margin-top: 30px;
    }
        .list li {
            display: inline;
        }
            .list li span {
                background: #f2f2f2;
                padding: 2px 6px 2px 6px;
            }
            .list li a {
                color: #fff;
                background: #808080;
                padding: 2px 6px 2px 6px;
                text-decoration: none;
                font-weight: bold;
            }
            .list li a:hover {
                background: #32a1c6;
            }
/* banner */
    .banner {
        display: block;
        width: 743px;
        height: 155px;
        margin: 0 0 10px 0;
    }
    
    .bann01 {
        background: url(../images/banners/banner.png) top left no-repeat;
    }
/* banner */
    
/* ITEMS */

.item {
    width: 235px;
    float: left;
    margin-right: 4px;
    margin-bottom: 4px;
    border: 1px solid #e8e8e8;
    padding: 4px;
}
.item:hover {
    border: 1px solid #afddec;
}
    .item div h2 {
        font-size: 1.5em;
        text-align: center;
    }
        .item div h2 a {
            color: #38849b;
            text-decoration: none;
        } 
    .item div .image {
        width: 240px;
        display: table-cell;
        height: 190px;
        text-align: center;
        vertical-align: middle;
    }
            .item div .image img {
                margin: 0 auto;
                width: 140px;
                height: auto;
            }
            
    .price_ua {
        font-style: italic;
        color: #fff;
        background: #3c97ac;
        padding: 1px 3px 1px 3px;
        font-size: 1.15em;
    }
        .price_s_us {
            font-style: italic;
            background: #4ab6da;
            color: #fff;
            text-decoration: none;
            padding: 1px 3px 1px 3px;
            font-size: 1.15em;
        }
        
    .price_us {
        font-style: italic;
        color: #fff;
        background: #3c97ac;
        padding: 1px 3px 1px 3px;
        font-size: 1.15em;
    }
        .price_s_ua {
            font-style: italic;
            background: #4ab6da;
            color: #fff;
            text-decoration: none;
            padding: 1px 3px 1px 3px;
            font-size: 1.15em;
        }
        
    .item div .item_d {
        padding-top: 10px;
    }
        
.item_show {

}
    .item_show .image {
        text-align: center;
    }
    .item_show .desc h1, .item_show .desc h2  {
        margin-bottom: 10px;
    }
    .item_show .desc .cl  {
        padding-top: 15px;
    }

.similar li {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}
.similar li a {
    text-decoration: none;
    display: block;
    border: 1px solid #e8e8e8;
    padding: 10px;
    width: 110px;
    height: auto;
}
    .similar li a img {
        width: 100px;
        height: auto;
    }
    .similar li a span {
        text-decoration: underline;
    }
    .similar li a:hover {
        border: 1px solid #afddec;
    }
    .similar li a:hover span {
        text-decoration: none;
    }
    .similar li a .black {
    color: #000;
    text-decoration: none;
}

/* ITEMS */

/* text_block */

.text_block {
    margin-top: 20px;
    margin-bottom: 20px;
}

.text_block h1 {
    color: #153a71;
    margin-bottom: 10px;
}

.text_block ul {
    padding-left: 50px;
    list-style: circle;
    margin-bottom: 20px;
}

.text_block p {
    text-align: justify;
}

/* text_block */

.footer {
    
}

.foot_menu {
    color: #fff;
    height: 32px;
    padding-top: 65px;
    background: url(../images/foot_menu.png) bottom repeat-x;
    text-align: center;
}
    .foot_menu a{
        color: #fff;
    }
    .foot_menu li {
        display: inline;
    }
    
.foot {
    background: #3a8faa url(../images/foot.png) top repeat-x;
    padding-top: 20px;
    padding-bottom: 40px;
    color: #fff;
}
    .foot_1 {
        width: 25%;
    }
    .foot_2 {
        width: 50%;
    }
    .foot_3 {
        width: 25%;
    }
    .foot a {
        color: #fff;
    }
    .foot div {
        text-align: center;
    }
    .search {
        width: 150px;
        height: 14px;
        padding: 2px;
        border: 1px solid #3c3c3c;
    }