/* Автор html/css Михаил Якименко macgera.com.ua выполнено для Никиты Шупова */

/* Классы не для отладки */
.debug {
	border: 1px solid red;
}
.debug_bg {
	background: red;
}
/* Классы не для отладки */

::-moz-selection { background: #7adeff; }
::selection { background: #7adeff; }

::-webkit-input-placeholder  { color:#000; }
input:-moz-placeholder { color:#000; }

/* Основные классы */
body {
	font: 90%/170% arial, verdana, serif;
	margin: 0;
	padding: 0;
	color: #333333;
}

a {
	color: #3366cc;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

.left {float: left;}
.right {float: right;}
.cl {clear: both;font-size: 0em;}
/* Основные классы */

.wrap {
	width: 874px;
	margin: 0 auto;
	overflow: hidden;
}
	.header {
		height: 226px;
		overflow: hidden;
		background: url(../images/header.png) no-repeat 0px 10px;
	}
	.top-menu, .title {
		width: 590px;
		margin-left: 284px;
		overflow: hidden;
	}
	.top-menu {
		margin-top: 70px;
		padding-bottom: 20px;
		background: url(../images/dot.png) repeat-x bottom;
	}
	.top-menu ul {
		padding: 0;
		margin: 0;
	}
		.top-menu li {
			display: inline-block;
			list-style: none;
			width: 114px;
			background: url(../images/top-menu.png) repeat-y right;
			margin-left: 20px;
			padding-right: 20px;
			font-size: 1em;
		}
		.top-menu li:first-child {
			margin-left: 0;
		}
		.top-menu li:last-child {
			padding-right: 0;
			background: none;
		}
			.top-menu li a {
				color: #000;
				line-height: 1.1;
				text-decoration: none;
			}
				.top-menu li a span {
					display: block;
					text-transform: uppercase;
					font-weight: bold;
				}
	
	
	.title {
		padding-top: 12px;
		background: url(../images/dot.png) repeat-x bottom;
	}
		.title .left {width: 434px;}
		.title .right {
			width: 156px;
			float: left;
		}
		.title .right input {
			background: #cccccc;
			border: none;
			color: #000;
			font-size: .75em;
			width: 150px;
			height: 16px;
			padding: 2px 2px 2px 4px;
			
		}
		.title .right input:first-child {margin: 0 0 4px 0;}
		.title .right a {
			font-size: .75em;
			text-decoration: underline;
		}
		.title .right a.first {
			margin-right: 8px;
		}
	.logo {
		display: block;
		width: 274px;
		height: 48px;
		background: url(../images/logo.png) no-repeat;
	}
	.title .left h1 {
		margin-top: 2px;
		font-size: 1.1em;
	}
	
.left-bar {
	width: 206px; /*254*/
	float: left;
	padding-top: 34px;
	padding-right: 48px;
	font-size: 1.1em;
	margin-right: 30px;
}
	.left-bar h3 {
		font-weight: bold;
		font-size: 1.1em;
	}
	.left-bar a {
		color: #333333;
		font-size: .9em;
	}
	.left-bar ul {
		padding: 0;
	}
		.left-bar ul li {
			list-style: none;
		}
			.left-bar ul li ul {
				margin-left: 24px;
			}

	.cart {
		background: #ededed;
		padding: 14px;
	}
		.cart div {
			background: url(../images/cart.png) no-repeat 0 0;
		}
			.cart div h3 {
				margin: 0 0 0 48px;
			}
				.cart div h3 a {
					color: #333333;
					/*text-decoration: underline;*/
				}
			.cart div span {
				display: block;
				margin-top: 10px;
				font-size: .9em;
				line-height: 1.4;
			}
			
	.cart.plus {
		margin: 17px 0 0 0;
	}
	.left-bar .search {
		margin: 10px 0 30px 0;
	}
	.left-bar .search .ssr {
		border: 1px solid #bcbcbc;
		width: 198px;
		height: 16px;
		padding: 2px 2px 2px 4px;
		background: url(../images/search.png) repeat-x bottom;
		text-align: left;
	}

.content {
	width: 590px;
	float: left;
}
	.bread {
		color: #999999;
		overflow: hidden;
		margin: 0 0 -8px 0;
	}
		.bread ul {
			padding: 0;
		}
			.bread ul li {
				display: inline;
				list-style: none;
			}
				.bread ul li a {
					color: #999999;
					text-decoration: none;
				}
				.bread ul li a:hover {
					text-decoration: underline;
				}
		.currency {
			color: #3f3f3f;
		}
			.bread .currency li a {
				color: #3f3f3f;
				text-decoration: underline;
			}
			.bread .currency li a:hover {
				text-decoration: none;
			}

	.items {
		padding: 0;
		margin: 0;
	}
		.items li {
			display: inline-block;
			width: 181px; /*тут общая с бордером 180*/
			list-style: none;
			margin-right: 18px;
			margin-bottom: 18px;
			/*padding: 0;*/
			font-size: .9em;
		}
		.items li:nth-child(3n+3), .items li.rinm {
			margin-right: 0;
		}
			.items li.m-free {
				margin-right: 0;
			}
			.items li figure {
				padding: 0;
				margin: 0;
				height: 252px;
			}
				.items li figure img {
					border: 1px solid #d8d8d8;
					margin: 0;
				}
				.items li figure figcaption {
					width: 155px;
					height: 70px;
					background: #ededed;
					padding: 14px;
					margin: -4px 0 0 0;
					line-height: 1.2;
				}
					.items li figure figcaption h2 {
						font-size: 1.2em;
						margin: 0 0 4px 0;
					}
					.items li figure figcaption .count {
						display: block;
						margin: 6px 0 0 0;
					} 
			.items li .count input {
				/*text-align: center;*/
				width: 30px;
				height: 14px;
				font-size: .9em;
				margin: 0 4px 0 0;
			}
			.items li .add-cart {
				/*float: left;*/
				margin: 0 0 0 0;
			}
				.items li .add-cart img {
					border: none;
					margin: 0 0 -3px 0;
				}
	.item {
		
	}
	.item h1 {
		font-size: 1.4em;
		font-weight: bold;
		margin: 0 0 10px 0;
		padding: 0 0 10px 0;
		background: url(../images/dot.png) repeat-x bottom;
	}
		.item h1 span {
			font-weight: normal;
		}
	.item figure {
		margin: 10px 0 10px 0;
		padding: 10px 0 10px 0;
		background: url(../images/dot.png) repeat-x bottom;
	}
	.item .price {
		font-weight: bold;
		font-size: 1.26em;
	}
	.item .add {}
		.item .add input {
			text-align: center;
			width: 30px;
		}
		.item .add .add-cart {
				margin: 0 0 0 0;
			}
				.item .add .add-cart img {
					border: none;
					margin: 0 0 -3px 0;
				}
	.item .description {
		clear: both;
		padding-top: 14px;
	}

	.paging {
		overflow: hidden;
		color: #333333;
	}
		.paging a {
			color: #333333;
			text-decoration: underline;
		}
		.paging a:hover {
			text-decoration: none;
		}
	
.news-item {
	background: url(../images/dot.png) repeat-x bottom;
	padding: 0 0 10px 0;
	margin: 0 0 10px 0;
}
	.news-title {
		color: #4170cf;
		font-size: 1.4em;
		text-transform: uppercase;
	}
	.news-item h2 {
		margin: 0 0 0 0;
		font-size: 1.3em;
	}
	.news-item .news-date {
		color: #999999;
	}
	.news-item .news-short {}
	.news-item .news-more {
		text-decoration: none;
	}

	.ivan {
		text-align: right;
		color: #666666;
	}
		.ivan span {
			font-weight: bold;
		}

/* index */

.present {
	padding: 10px;
	background: url(../images/koso.png);
}
	.present .wrap {
		width: 854px;
		padding-left: 28px;
	}
		.present .block.first {
			margin-left: 0;
		}
		.present .block {
			width: 278px;
			float: left;
			margin-left: 10px;
		}
		.present .block img.big {}
		.present .block img.small {
			margin-right: 5px;
		}
		.present .block img.small.free {
			margin-right: 0;
		}

.news {}
	.news .wrap {
		width: 860px;
		padding-left: 50px;
	}
	.news h2 {
		background: url(../images/dot.png) repeat-x bottom;
		padding-bottom: 10px;
	}
	.news article {
		width: 255px;
		float: left;
		margin: 0 20px 0 0;
		padding: 0 20px 0 0;
		background: url(../images/top-menu.png) repeat-y right;
	}
	.news article.free {
		margin: 0;
		padding: 0;
		background: none;
	}
		.news article h3 {
			margin: 0;
			font-size: .85em;
			text-transform: uppercase;
		}
		.news article figure {
			margin: 0;
			margin-top: 10px;
			margin-bottom: 10px;
		}
			.news figure figcaption {
				margin-top: 10px;
				line-height: 1.2;
				font-size: .85em;
				text-align: justify;
			}
		.news article img {
			max-width: 100%;
		}
		.news .desc {
			overflow: hidden;
			font-size: .85em;
		}
			.news .desc .date {
				font-style: italic;
			}

/* index */

/* order */
.formbox {
	background: url(../images/koso.png);
	overflow: hidden;
}
	.formbox .wrap {
		width: 508px;
	}
	.formbox h2 {
		margin: 10px 0 0 0;
	}
	.formbox form {
		margin-top: 20px;
	}
	.formbox .row {
		overflow: hidden;
		margin-bottom: 20px;
	}
		.formbox .row .col {
			width: 50%;
			float: left;
		}
		.formbox .row .col label {
			margin-left: 8px;
		}
			.formbox .row .col label span {
				color: #990000;
			}
		.formbox .row .col label.free {
			margin-left: 0;
		}
		.formbox .row .col input {
			border: 1px solid #bcbcbc;
			width: 234px;
			height: 16px;
			padding: 2px 2px 2px 4px;
			margin-left: 8px;
			background: url(../images/search.png) repeat-x bottom;
		}
		.formbox .send {
			text-align: center;
			margin-bottom: 20px;
		}

.order-comment {
	text-align: center;
}
	.order-comment span {
		display: block;
		margin: 0 0 10px 0;
	}
	.order-comment textarea {
		border: 1px solid #dfdfdf;
		width: 184px;
		height: 430px;
		padding: 10px;
		background: #fff url(../images/ocomm.png) bottom repeat-x;
	}
	.ocomm-send {
		display: block;
		text-align: right;
	}
		.ocomm-send input {
			margin: 8px 0 0 0;
		}
/* order */

.footer {
	margin-top: 30px;
	padding: 10px 0 10px 0;
	background: url(../images/koso.png);
	overflow: hidden;
	color: #333333;
	font-style: italic;
}
	.footer .map ul {
		padding: 0;
		margin: 0;
	}
		.footer .map ul li {
			list-style: none;
			display: inline;
		}
			.footer .map ul li a {
				color: #333333;
			}
	
	.copy .search {
		margin-bottom: 10px;
	}
	.copy .search .ssr {
		border: 1px solid #bcbcbc;
		height: 16px;
		padding: 2px 2px 2px 4px;
		background: url(../images/search.png) repeat-x bottom;
		text-align: right;
	}
	.copy .search .find {
		margin: 0 0 -6px 0;
	}