/* Author html/css Mihail Yakimenko mihailyakimenko.com выполнено for João Correia 2011 February */

	.home_headers {
		width: 432px;
		float: right;
		text-align: center;
		padding: 26px 0 0 0;
                margin: -80px 0 0 0;
		margin-right: 70px;
	}
                
	.in_headers {
		width: 356px;
		float: right;
		text-align: left;
		padding: 26px 0 0 0;
                margin: -84px 0 0 0;
		margin-right: 20px;
	}
        
	.big_green_button {
		display: block;
		margin: 40px 0 0 0;
		width: 300px;
		height: 51px;
		padding: 10px 0 0 0;
		background: url(../images/big_green_button.png) no-repeat;
		color: #fff;
		text-shadow: 0 -1px 1px #505050;
		font-weight: bold;
		font-size: 1.4em;
		text-align: center;
		text-decoration: none;
	}